/* Estilo_Principal.css */
body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: url('Background_IMAGE.jpeg');
    background-size: cover;
    color: #333;
}

.data-hora {
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.8); /* Fundo semi-transparente */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

p {
    margin: 10px 0;
    font-size: 1.5em;
    color: #333;
}

button {
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #007BFF;
    color: white;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

dialog {
    padding: 20px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.9);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

menu {
    text-align: center;
}

label, select, button {
    margin-top: 10px;
    font-size: 1em;
}

#Fechar {
    background-color: red;
}